body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: #6995be;
    color: rgb(2, 1, 1);
    display: flex;
    justify-content: space-around;
}
.lobo{
    width: 500px;
    position: relative;
    top: 0px;
    left: 20px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px;
    font-size: 24px;
}
.oceano{
     width:25%
}
.escola{
    background-image: linear-gradient(#1a7edbb6,#027333);
    color:wheat;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
    
}